<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="AgriculturalProductsConnectionString" connectionString="Data Source=140.127.22.4;Initial Catalog=AgriculturalProducts;User ID=CCBDA;Password=CCBDA"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />

      <!--WebService使用Http, Get and Post權限-->
      <webServices>
        <protocols>
          <add name="HttpGet"/>
          <add name="HttpPost" />
          <!--<add name="Documentation"/>-->
        </protocols>
      </webServices>
      
    </system.web>

  <!--存取控制-->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  
</configuration>
